* {
    box-sizing: border-box;
}

table {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;

}

th, td {
    border: 2px solid darkolivegreen;
    padding: 5px;
}

th {
    background-color: darkolivegreen;
    color: white;
    font-size: large;
}

.tables-container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}